################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FEIWebsite/bin
/FEIWebsite/obj/Debug
/packages
/.vs
/.cr/personal/FavoritesList
/bin
/obj/Debug
